<br/>
<section id="publication">

<div class="container">
  <!-- <div class="header" style="padding:0.5%"> -->
  <h4 style="padding-left:1%;width:100%;vertical-align:center;font-family: 'Courier Prime'">AI/ML</h4>
  <!-- </div> -->
    <table class="styled-table">
      <!-- <thead>
        <th>Link</th>
        <th>Topic</th>
        <th>Title</th>
        <th>Summary</th>
        <th>Github</th>
      </thead> -->
      {% for article in site.data.paper_ml %}
      <tr>
        <td class="styled-center">{% if article.link %} <a href="{{ article.link }}">{{ article.badge }}</a>{% else %} {{ article.badge }} {% endif %} </td>
        <td class="styled-center">{{ article.topic}}</td>
        <td>{{ article.title}}</td>
        <td class="styled-center">{% if article.summary %} <a href="{{ article.summary }}">summary</a>{% endif %}</td>
        <td class="styled-center">{% if article.code %} <a href="{{ article.code }}">code</a>{% endif %}</td>
      </tr>
      <!-- {% if article.tldr %}
      <tr>
        <td colspan="1"></td>
        <td colspan="1" style="text-align: right; padding-right:0%"><em>TL;DR: </em></td>
        <td colspan="4"><em></em>{{article.tldr }}</em></td>
      </tr>
      {% endif %} -->
      {% endfor %}
    </table>
</div>

<br/>
<br/>
<div class="container">
    <!-- <div class="header" style="padding:0.5%"> -->
    <h4 style="padding-left:1%;width:100%;vertical-align:center;font-family: 'Courier Prime'">AI for Science and Healthcare</h4>
    <!-- </div> -->
    <table class="styled-table">
      <!-- <thead>
        <th>Link</th>
        <th>Topic</th>
        <th>Title</th>
        <th>Summary</th>
        <th>Github</th>
      </thead> -->
      {% for article in site.data.paper_others %}
      <tr>
        <td class="styled-center">{% if article.link %} <a href="{{ article.link }}">{{ article.badge }}</a>{% else %} {{ article.badge }} {% endif %} </td>
        <td class="styled-center">{{ article.topic}}</td>
        <td >{{ article.title}}</td>
        <td class="styled-center">{% if article.summary %} <a href="{{ article.summary }}">summary</a>{% endif %}</td>
        <td class="styled-center">{% if article.code %} <a href="{{ article.code }}">code</a>{% endif %}</td>
      </tr>
      {% if article.tldr %}
      <tr>
        <td colspan="2"></td>
        <td colspan="4"><em>TL;DR: {{article.tldr }}</em></td>
      </tr>
      {% endif %}
      {% endfor %}
    </table>
</div>

<br/>
<br/>
<div class="container">
  <!-- <div class="header" style="padding:0.5%;width:81.7%;"> -->
    <h4 style="padding-left:1%;width:80%;vertical-align:center;font-family: 'Courier Prime'">Patents</h4>
    <!-- </div> -->
    <!-- <h3 style="padding-left:0%;padding-bottom: 0%;width:100%;vertical-align:center;font-family: 'Courier Prime'">Patents</h3> -->
    <table class="styled-table">
      <!-- <thead>
        <th>Link</th>
        <th>Topic</th>
        <th>Title</th>
      </thead> -->
      {% for article in site.data.patents %}
      <tr>
        <td><a href="{{ article.link }}">{{ article.badge }}</a></td>
        <td>{{ article.topic}}</td>
        <td>{{ article.title}}</td>
      </tr>
      {% if article.tldr %}
      <tr>
        <td colspan="2"></td>
        <td colspan="4"><em>TL;DR: {{article.tldr }}</em></td>
      </tr>
      {% endif %}
      {% endfor %}
    </table>
</div>